<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_add %></dd>

  <dt>Second number</dt>
  <dd><%= @second_add %></dd>

  <dt>Result</dt>
  <dd><%= @add_result %></dd>
</dl>

<a href="/add">Do another addition</a>
